@charset "UTF-8";
$font-stack: 'Raleway', sans-serif;
$primary-color: #333;
$secondary-color: #212121;
$image-background:#e8e8e8;
$tertiary-color:#929292;
$accent-color:rgb(2,136,209);
$button-color:#01579b !important;
$default-color:rgba(255,255,255,255);

body{
	font: 100% $font-stack;
	color:$primary-color;
}

/* Creating a mixin for the register card */
@mixin font-style($size,$weight,$color){
	font-size: $size;
	font-weight: $weight;
	color: $color;
}

@mixin user-card($width,$line-height,$height,$flex){
	width: $width;
	height: $height;
	line-height: $line-height;
	flex: $flex;
}

@mixin border-radius($radius){
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}
@mixin image-radius($width,$height){
	width: $width;
	height: $height;
	@include border-radius(50%);
}

/* User Card padder */
div{
	&#user-card{
		padding:0px !important;
		cursor: pointer;
		pointer-events: auto;
	}
}
.image-size{
	width: 90px;
	height: 90px;
	@include border-radius(50%);
}

div{
	&.user-up-panel{
		@include user-card(100%,1.5,80px,auto);
		padding: 0 !important;
		background-color: #{$accent-color};
	}
	&.user-image{
		position: absolute;
		@extend .image-size;
		background-color: #{$image-background};
		top: 110px;
		z-index: 10;
		margin-left: 15px;
		border:5px solid #{$accent-color};

		img{
			@include image-radius(80px,80px);
		}

	}
	&.user-down-panel{
		@include user-card(100%,1.5,95px,auto);
		padding: 0 !important;
	}
}
div{
	&.user-fullname{
		position:relative;
		right:0;
		top: 30px;
		left: 120px;
		@include font-style(24px,400,#FFFFFF);
	}
	span{
		&.chip{
			@include font-style(15px,bold,#FFFFF);
		}
	}
}
ul{
	&#user-card-others{
		top: 15px;
		position: relative;
		left: 95px;

		li{
			list-style: none;
			list-style-type: none;
			float: left;
			text-align:left;
			margin-top: 9px;
		}
	}
}
div{
	&.bg1{
		position:relative;
		width: auto;
		height: 200px;
		img{
			width:140px;
			height:140px;
			left: 34%;
			top: 13%;
		}
	}
}
div {
	&.report-card {
		h5 {
			text-align: center;
			-ms-text-overflow: ellipsis;
			text-overflow: ellipsis;
		}
	}
}
p{
	margin:0 auto;
	a{
		margin-top:5px;
		margin-bottom: 15px;
		&.download{
			vertical-align: center;
			position: relative;
			left: 26%;
			background-color:$accent-color !important;
			@include font-style(17px,bold,$default-color);
			text-transform: capitalize;
		}
	}
}

/* Modal Position and others effects */
.modal{
	&.open{
		top: 32% !important;
	}
}

div{
	&.modal-footer{
		a{
			&.report{
				text-transform: capitalize;
				@include font-style(14px,bold,$default-color);
				margin-left: 20px;
			}
		}
	}
}

div{
	&.stud-list{
		input{
			@include font-style(14px,bold,$secondary-color);
		}
		label{
			@include font-style(14px,bold,$secondary-color);
		}
	}
}
div{
	&.stud-report{
		input{
			@include font-style(14px,bold,$secondary-color);
		}
		label{
			@include font-style(14px,bold,$secondary-color);
		}
	}
}
a{
	&#list-close{
		margin-left: -35px;
	}
}

/* Tabs configs */
ul{
	&.tabs{
		margin-top: 30px;
	}
}
i{
	&.tab-icon{
		position: absolute;
		margin-left: -40px;
		margin-top: 11px;
	}
}
.block{
	width:100%;
	text-transform: capitalize;
	@include font-style(14px,bold,$default-color);
}